		*{
			box-sizing: border-box;
			margin: auto;
		}
		
		.father{
			margin: auto;
			width: auto;
		}
		.kg{
			width: 200px;
			height: 200px;
			background-color: #395848;
		}
		.daohang{
			width: 500px;
			height: 10px;
			margin-top: 30px;
		}
		.zhujiemian{
			width: 1024px;
			height: 500px;
			background-image: url(images/bg.jpg);
			background-repeat: no-repeat;
			margin-top: 20px;
			margin-left: 250px;
		}
		ul{
			width: 480px;
		}
		li{
			list-style: none;
			display: inline-block;
			width: 80px;
			line-height: 30px;
			font-size: 18px;
		}
		a{
			text-decoration: none;
			color: white;
			opacity: 0.8;
		}
		.hy{
			color: #6a665a;
			opacity: 0.8px;
			font-size: 40px;
			font-family: "新宋体";
			padding-top: 220px;
			padding-left: 380px;
		}
		.fenqu{
			height: 500px;
			width: 115px;
			float: left;
			border-radius: 20px;
			margin-left: 60px;
			margin-top: 40px;
			background-color: #fff6f1;
		}
		.fenqu img{
			width: 115px;
			height: 115px;
			cursor: pointer;
			transition: all 0.3s;
		} 
		.fenqu img:hover{
			transform: scale(1.3);  /*给元素平移*/
		}
		h3{
			color: white;
			font-family: "仿宋";
			font-size: 25px;
		}
		.duanlian,.xuexi,.meizhuang,.lapdong{
			margin: auto;
			width: 1050px;
			height: 680px;
			margin-bottom: 45px;
			color: #f7e7ce;
			font-family: "幼圆";
			font-size: 20px;
		}
		img{
			width: 100px;
			height: 100px;
			vertical-align: middle;
		}
		.fh{
			display: block;
			width: 100px;
			line-height: 25px;
			font-size: 10px;
			float: right;
		}
		